.env
.git
.gitignore
.venv
venv
vector_store
vector_store_test
eval_test
eval
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.streamlit/secrets.toml
README.md
Dockerfile
docker-compose.yml
.dockerignore
